@use "../utils/variables" as *;
@use "../utils/placeholders" as *;
@use "../utils/mixins" as *;

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;

  &__container {
    display: flex;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__title {
    @extend %titles;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 10px;

    &::before {
      content: "";
      background-color: var(--background-team);
      padding: 25px 100px;
      display: block;
      margin-bottom: 30px;
    }

    & {
      @each $icon in antena, clock, diagram, astronaut {
        .#{$icon}-icon::before {
          background-image: url(../images/main-page/#{$icon}.jpg);
        }
      }
    }
  }

  &__desc {
    @include txt($font-size:14px, $line-height:24px);
    width: 270px;
  }
}