@use '../utils/variables' as *;
@use '../utils/placeholders' as *;
@use '../utils/mixins' as *;

.logo {
  color: $main-color;
  font-family: $second-family;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo-span {
  color: $span-color;
}

.footer-logo-span {
    color: $light-txt-color;
}